*,*::after,*::before{
    box-sizing: border-box; margin: 0; padding: 0;
    transform-style: preserve-3d;
    /* font-family: 'Oxygen', sans-serif; */
}
::selection{
    background: rgb(207, 207, 207);
    color: rgb(15, 15, 15);
}

label{
    cursor: pointer;
}

:root{
    background-image: url(assets/starsBackGround.webp);
    background-size: cover;
    transform-style: flat;
}

input{
    /* visibility: hidden;
    position: absolute; */
    transform: translateZ(10px);
}


main{
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.flexdiv{
    display: flex;
    justify-content: center;
    align-items: center;
}

.fullscreen{
    width: 100%;height: 100vh;
}

.welcompage{
    position: absolute;
    top: 0;left: 0;
    opacity: 0;
    visibility: hidden;
    background: linear-gradient(204deg, rgba(38,58,72,1), rgb(11, 19, 32));
    color: white;
    z-index: 2;
    font-family: 'Oxygen', sans-serif;
}

.start{
    flex-direction: column;
    opacity: 0;
    transition: 000.4s;
    position: absolute;
    top: 0;left: 0;
}
#first_view:checked~main>.welcompage .start,
#first_view:checked~main>.welcompage
{
    opacity: 1;
    visibility: visible;
}


.start>p:nth-child(1){
    font-size: 70px;
    animation: stage1Welcome 4s 1 forwards ;
}
.start>p:nth-child(2){
    position: absolute;
    top: 50%;left: 50%;
    transform: translate(-50%,50px);
    font-size: 25px;
    animation: stage1fadein1 1s 1 forwards 2.6s;
    opacity: 0;
}

.start>label{
    position: absolute;
    width: 80px;
    height: 80px;
    top: 50%;left: 50%;
    transform: translate(-50%,60px);
    animation: stage1fadein2 1s 1 forwards 3s;
    opacity: 0;
    font-size: 80px;
    border-radius: 50%;
    transition: 00.4s;
    /* border: red solid thick; */
}

.start>label:hover{
    background: rgb(216, 216, 216);
    color: rgb(23, 35, 44);
}

.start>label:active{
    background: rgba(0, 0, 0, 0);
    color: rgb(216, 216, 216);
    border: 1px white solid;
}


.start>label::after{
    content: '';
    width: 120%;height: 120%;
    border-radius: 50px;
    border-left: rgba(255, 255, 255, 0.562) solid 1px;
    border-right: rgba(255, 255, 255, 0.562) solid 1px;
    animation: playbutton 2s infinite 5s;
    opacity: 0;
    top: 50%;left: 50%;
    transform: translate(-50%,-50%);
    position: absolute;
}

.loading{
    flex-direction: column;
    opacity: 0;
    visibility: hidden;
    transition: 000.4s;
    position: absolute;
    top: 0;left: 0;
}

#loading:checked~main .loading{
    animation: loadingfadeIn 1s ease-in-out forwards;
}

#loading:checked~main .welcompage{
    opacity: 1;visibility: visible;
    animation: welcomefadeOut 1s forwards 1s;
    dwdwdwd;10s
    /* wdwd; */
}



.spinner{
    width: 35%;height: 50%;
    background: rgba(0, 0, 0, 0.308);
    border-radius: 8px;
}

.spinner>p{
    position: absolute;
    top: 10%;left: 50%;
    transform: translate(-50%, -15px);
    font-size: 30px;
}

.backCircle{
    width: 200px;height: 200px;
    border-radius: 50%;
    background: rgba(0, 0, 0, 0.247);
    justify-content: space-between;
    overflow: hidden;
}



#loading:checked~main .backCircle{
    animation: spin 2s 4 cubic-bezier(.84,.13,.07,.83) 1s;
}
#loading:checked~main .greenBalls{
    animation: ballgrow 8s  linear forwards 1s;
}
.greenBalls{
    width: 10px;height: 10px;
    border-radius: 50%;
    background: rgb(50, 161, 205);
    /* border: red solid 1px; */
}

.frontCircle{
    position: absolute;
    top: 50%;left: 50%;
    transform:translate(-50%,-50%);
    width: 180px;height: 180px;
    background: rgb(10, 15, 24);
    border-radius: 50%;
}

.name{
    font-size: 100px;
    font-family: 'Montserrat', sans-serif;
}





.SolarSystemContainer{
    width: 100%;
    height: 100vh;
    /* border: rgb(255, 255, 255) solid thin; */
    /* outline: solid rgb(255, 255, 255)  1px; */
    position: relative;
    perspective: 1000px;
    overflow: hidden;
    z-index: 0;
}

#loading:checked~main .SolarSystemContainer{
    animation: solarFadein 5s 10s;
}

.tutorial{
    border: solid rgba(255, 255, 255, 0.192) 3px;
    border-radius: 5px;
    width: 30%;height: 80vh;
    position: absolute;
    right: 7%;
    flex-direction: column;
    justify-content: space-around;
    color: rgb(240, 240, 240);
    padding: 45px;
    visibility: hidden;
    opacity: 0;
    transition: 1s;
    font-family: 'Oxygen', sans-serif;
    backdrop-filter: blur(2px);
    background: rgba(42, 52, 59, 0.397);
    background: linear-gradient(326deg, rgba(42, 52, 59, 0.158) 0%, rgba(255, 255, 255, 0.096) 100%);

}

.tutorial>label{
    border: solid white 2px;
    padding: 10px;
    border-radius: 20px;
    transition: 0.4s;
}

.tutorial>label:hover{
    border: solid rgba(255, 255, 255, 0) 2px;
    background: whitesmoke;
    color: rgb(6, 6, 27);
}

#loading:checked~main .tutorial{
    visibility: visible;
    opacity: 1;
}

.tutorial h2{
    font-size: 35px;
    text-align: center;

}

.tutorial :is(h2,p,h1,span){
    cursor: default;
}

nav{
    position: absolute;
    top: 3vh;
    right: 2vw;
    width: 300px;
    height: 94vh;
    border: rgba(255, 255, 255, 0.418) 2px solid;
    border-radius: 20px;
    background: rgb(42,52,59);
    background: linear-gradient(326deg, rgba(42, 52, 59, 0.158) 0%, rgba(255, 255, 255, 0.151) 100%);
    backdrop-filter: blur(2px);
    transition: 1s;
    overflow: hidden;
    display: flex;
    justify-content: center;
}

::-webkit-scrollbar{
    display: none;
}

#loading:checked~main .afterLoad{
    opacity: 0;
    visibility: hidden;
}

nav>ul{
    width: 90%;
    overflow-y: scroll;
}
nav>ul>li:nth-last-child(1){
    margin-bottom: 15px;
}

nav>ul>li{
    width: 100%;
    height: 120px;
    border-radius: 25px;
    overflow: hidden;
    /* background: rgb(255, 255, 255); */
    margin-top: 15px;
}

nav>ul>li>label{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 50px;
    font-family: 'Montserrat', sans-serif;
    color: rgb(255, 255, 255);
    position: relative;
}

nav>ul>li>label>h3{
    transform: translate(-50px);
}

nav>ul>li>label>figure{
    position: absolute;
    left: 100%;
    top: 50%;
    transform: translate(-50%,-50%);
    /* border: solid red thick; */
    height: 200%;
}

nav figure>img{
    height: 100%;
}


