.SS{
    width: 3000px;
    height: 3000px;
    /* border: red solid thin; */
    position: absolute;
    top: 0%; left: -15%;
    transform-style: preserve-3d;
    transform: translate(-50%,-50%) translateZ(-2000px) rotateX(50deg);
    /* background: white; */
    /* perspective: 700px; */
}

.planet{
    position: absolute;
    border-radius: 50%;
    border: solid rgba(255, 255, 255, 0.13) 2px;
    top: 50%; left: 50%;
    transform:translate(-50%,-50%) rotateY(+15deg) rotateZ(0deg);
}

.planet>figure{
    /* border: solid rgb(255, 0, 0); */
    border-radius: 50%;
    transform: translate(-50%,-50%) rotateZ(0deg) rotateX(-50deg);
    position: relative;
    border-radius: 50%;
    position: absolute;
    top: 100%;
    left: 50%;
    /* transition: 5s; */
}

.planet>figure::after{
    content: '';
    position: absolute;
    top: 50%;left: 50%;
    transform: translate(-50%,-50%) scale(1);
    width: 85%;height: 85%;
    border-radius: 50%;
    /* z-index: inherit; */
}

.shadow{
    width: 100%; height: 100%;
    border-radius: 50%;
    position: absolute;
    top: 50%;left: 50%;
    transform: translate(-50%,-50%);
    z-index: 11;
    overflow: hidden;
    /* background: rgb(179, 89, 89); */
}

.shadow>div{
    width: 95%; height: 95%;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    /* background: rgba(0, 0, 0, 0.781); */
    /* filter: blur(4px); */
    transform-origin: 50% 300%;
    transform:translate(0%,10%) rotate(0deg);
    /* animation: test4 linear 5 infinite; */
    /* background: rgb(179, 89, 89); */
}

.shadow>div>div{
    width: 100%;height: 100%;
    border-radius: 50%;
    background: rgba(0, 0, 0, 0.781);
    filter: blur(4px);
    transform: scaleY(1);
}

.sun{
    /* border: red solid thin; */
    width: 100%;
    height: 100%;
    border-radius: 50%;
    border: solid rgba(255, 255, 255, 0) 2px;
    /* border: solid rgba(255, 255, 255, 0.329) 10px; */
}

.sun>figure{
    /* border: solid rgb(255, 0, 0); */
    width: 180 ;height: 180 ;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%) rotateX(-45deg) rotateZ(0deg);
    animation: sunRotation 150s linear infinite;
}

.sun>figure>label{
    opacity: 0;
    visibility: hidden;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    position: absolute;
    top: 0;left: 0;
    /* border: red solid 5px; */
    transform: translateZ(2px);
}

#loading:checked~main .sun>figure>label{
    opacity: 1;
    visibility: visible;
}


.sun>figure::after{
    box-shadow: 0px 0px 100px rgb(255, 161, 53);
    animation: glow 5s linear infinite;
}
.sun>figure>img{
    width: 180px;
}

/*----Mercury-----*/

.mercury{
    width: 18%;
    height: 18%;
    animation: orbitRotation linear 5s infinite;
}
.mercury>figure{
    width: 50px;height: 50px;
    animation: planetRotation linear 5s infinite;
}
.mercury>figure::after{
    box-shadow: 0px 0px 10px rgba(98, 192, 255, 0.473);
}
.mercury>figure>.shadow>div{
    animation: shadowRotation 5s cubic-bezier(1,.07,0,.92) infinite;
}
.mercury>figure>.shadow>div>div{
    animation: shadowScale 5s cubic-bezier(1,.07,0,.92) infinite;
}
.mercury>figure>img{
    width: 50px;
}




/*----venus-----*/

.venus{
    width: 23%;
    height: 23%;
    animation: orbitRotation linear 10s infinite;
}
.venus>figure{
    width: 60px;height: 60px;
    animation: planetRotation linear 10s infinite;
}
.venus>figure::after{
    box-shadow: 0px 0px 10px rgba(224, 172, 0, 0.473);
}
.venus>figure>.shadow>div{
    animation: shadowRotation 10s cubic-bezier(1,.07,0,.92) infinite;
}
.venus>figure>.shadow>div>div{
    animation: shadowScale 10s cubic-bezier(1,.07,0,.92) infinite;
}
.venus>figure>img{
    width: 60px;
}




/*----earth-----*/

.earth{
    width: 30%;
    height: 30%;
    animation: orbitRotation linear 20s infinite;
}
.earth>figure{
    width: 60px;height: 60px;
    animation: planetRotation linear 20s infinite;
}
.earth>figure::after{
    box-shadow: 0px 0px 10px rgba(0, 174, 255, 0.473);
}
.earth>figure>.shadow>div{
    animation: shadowRotation 20s cubic-bezier(1,.07,0,.92) infinite;
}
.earth>figure>.shadow>div>div{
    animation: shadowScale 20s cubic-bezier(1,.07,0,.92) infinite;
}
.earth>figure>img{
    width: 60px;
}

/*----moon-----*/
.moon{
    position: absolute;
    border-radius: 50%;
    border: solid rgba(255, 255, 255, 0.329) 2px;
    top: 50%; left: 50%;
    transform:translate(-50%,-50%) rotateX(70deg) rotateZ(0deg) ;
    width: 200%;
    height: 200%;
    animation: moonOrbitRotation linear 3s infinite;
}

.moon>img{
     /* border: solid rgb(255, 0, 0); */
     border-radius: 50%;
     transform: translate(-50%,-50%) rotateZ(0deg) rotateX(90deg);
     position: relative;
     border-radius: 50%;
     position: absolute;
     top: 100%;
     left: 50%;
     width: 20px;height: 20px;
     animation: moonRotation linear 3s infinite;
}

.moon>img{
    box-shadow: white 0px 0px 100px;
}







/*----mars-----*/

.mars{
    width: 38%;
    height: 38%;
    animation: orbitRotation linear 40s infinite;
}

.mars>figure{
    width: 60px;height: 60px;
    animation: planetRotation linear 40s infinite;
}

.mars>figure::after{
    box-shadow: 0px 0px 10px rgba(255, 94, 0, 0.473);
}

.mars>figure>.shadow>div{
    animation: shadowRotation 40s cubic-bezier(1,.07,0,.92) infinite;
}
.mars>figure>.shadow>div>div{
    animation: shadowScale 40s cubic-bezier(1,.07,0,.92) infinite;
}
.mars>figure>img{
    width: 60px;
}






/*----belt-----*/

.belt{
    width: 50%;
    height: 50%;
    animation: orbitRotation linear 100s infinite;
    position: absolute;
    border-radius: 50%;
    border: dashed rgba(92, 92, 92, 0.329) 20px;
    top: 50%; left: 50%;
    transform:translate(-50%,-50%) rotateY(15deg) rotateZ(0deg);
}





/*----jupiter-----*/

.jupiter{
    width: 60%;
    height: 60%;
    animation: orbitRotation linear 240s infinite;
}

.jupiter>figure{
    width: 120px;height: 120px;
    animation: planetRotation linear 240s infinite;
}

.jupiter>figure::after{
    box-shadow: 0px 0px 10px rgba(255, 170, 121, 0.281);
}

.jupiter>figure>.shadow>div{
    animation: shadowRotation 240s cubic-bezier(1,.07,0,.92) infinite;
}
.jupiter>figure>.shadow>div>div{
    animation: shadowScale 240s cubic-bezier(1,.07,0,.92) infinite;
}
.jupiter>figure>img{
    width: 120px;
}





/*----saturn-----*/

.saturn{
    width: 70%;
    height: 70%;
    animation: orbitRotation linear 540s infinite;
}

.saturn>figure{
    width: 110px;height: 110px;
    animation: planetRotation linear 540s infinite;
}

.saturn>figure::after{
    box-shadow: 0px 0px 10px rgba(255, 170, 121, 0.281);
}

.saturn>figure>.shadow>div{
    animation: shadowRotation 540s cubic-bezier(1,.07,0,.92) infinite;
}
.saturn>figure>.shadow>div>div{
    animation: shadowScale 540s cubic-bezier(1,.07,0,.92) infinite;
}

.saturn>figure>img:nth-child(1){
    width: 110px;
}
.saturn>figure>img:nth-child(3){
    position: absolute;
    top: 50%;
    bottom: 50%;
    transform: translate(-72.5%,-50%) rotateX(80deg) rotateY(15deg);
    width: 250px;
}





/*----uranus-----*/

.uranus{
    width: 80%;
    height: 80%;
    animation: orbitRotation linear 1620s infinite;
}

.uranus>figure{
    width: 95px;height: 95px;
    animation: planetRotation linear 1620s infinite;
}

.uranus>figure::after{
    box-shadow: 0px 0px 10px rgba(255, 170, 121, 0.281);
}

.uranus>figure>.shadow>div{
    animation: shadowRotation 1620s cubic-bezier(1,.07,0,.92) infinite;
}
.uranus>figure>.shadow>div>div{
    animation: shadowScale 1620s cubic-bezier(1,.07,0,.92) infinite;
}
.uranus>figure>img{
    width: 95px;
}





/*----neptun-----*/

.neptun{
    width: 90%;
    height: 90%;
    animation: orbitRotation linear 3240s infinite;
}

.neptun>figure{
    width: 95px;height: 95px;
    animation: planetRotation linear 3240s infinite;
}

.neptun>figure::after{
    box-shadow: 0px 0px 10px rgba(255, 170, 121, 0.281);
}

.neptun>figure>.shadow>div{
    animation: shadowRotation 3240s cubic-bezier(1,.07,0,.92) infinite;
}
.neptun>figure>.shadow>div>div{
    animation: shadowScale 3240s cubic-bezier(1,.07,0,.92) infinite;
}
.neptun>figure>img{
    width: 95px;
}